#nav{
  border-radius: 0px;
}
.jumbotron{
background:rgb(0,0,2);
}
.col-md-3{
	text-align: center;
	margin-top: 20px;
	border: 0px solid gray;
}
.col-md-3 img{
	height: 120px;
	width: 150px;
}
.col-md-12{
	margin-top: 20px;
	border: 1px solid gray;
}
.col-md-7{
	margin-top: 20px;
	border-right: 1px solid gray;
}